@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");
.main-container {
  font-family: "Jost", sans-serif;
  max-width: 1400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu > .menu__link--selected::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  bottom: 0;
  left: 0;
  scale: 1;
  transition: all 0.3s ease;
}
.menu__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #979797;
  position: relative;
  width: fit-content;
}
.menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  bottom: 0;
  left: 0;
  scale: 0;
  transition: all 0.3s ease;
}
.menu__link:hover::after {
  scale: 1;
}
.menu__link--selected {
  color: #232323;
}
.menu__link--icon {
  transition: all 0.3s ease;
}
.menu__dropdown {
  position: relative;
}
.menu__dropdown_open .menu__link--icon {
  rotate: 180deg;
}
.menu__dropdown_open .menu__reports {
  visibility: visible;
  opacity: 1;
}
.menu__reports {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px;
  position: absolute;
  top: 30px;
  left: 10px;
  width: max-content;
  box-shadow: 0px 0px 5px #232323;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.menu__reports .menu__link:hover .menu__link--icon {
  translate: 75%;
}
.menu__reports .menu__link .menu__link--icon {
  rotate: -90deg;
}

.nav-btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-btns__button {
  font-family: inherit;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 0;
  border: 1px solid #232323;
  transition: all 0.3s ease;
  font-size: 20px;
}
.nav-btns__login {
  border: 1px solid #fff;
  background-color: #fff;
}
.nav-btns__login:hover {
  color: #fff;
  background-color: #232323;
  border: 1px solid #232323;
}
.nav-btns__register {
  color: #fff;
  background-color: #232323;
}
.nav-btns__register:hover {
  color: #232323;
  background-color: #fff;
}

.nav-profile {
  position: relative;
}
.nav-profile__main {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.nav-profile_open .nav-profile--icon {
  rotate: 180deg;
}
.nav-profile_open .nav-profile__additional {
  visibility: visible;
  opacity: 1;
}
.nav-profile__additional {
  position: absolute;
  width: max-content;
  right: 0;
  top: 50px;
  box-shadow: 0px 0px 5px 0px #232323;
  padding: 15px 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: auto;
}
.nav-profile .menu__link:last-child {
  color: #E4294B;
}
.nav-profile .menu__link:hover .menu__link--icon {
  translate: 75%;
}
.nav-profile .menu__link .menu__link--icon {
  rotate: -90deg;
}
.nav-profile__name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-profile--icon {
  transition: all 0.3s ease;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}