.main-container{
    font-family: 'Jost', sans-serif;
    max-width: 1400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}