.menu {
  display: flex;
  align-items: center;
  gap: 20px;

  & > .menu__link--selected{
    @include staticMenuLinkUnderline();
  }

  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: $colorGrey;
    position: relative;
    width: fit-content;

    @include dynamicMenuLinkUnderline();

    &--selected {
      color: $colorDark;
    }

    &--icon {
      transition: $trans;
    }
  }

  &__dropdown {
    position: relative;
  }

  &__dropdown_open {
    .menu__link--icon {
      rotate: 180deg;
    }
    .menu__reports {
      visibility: visible;
      opacity: 1;
    }
  }

  &__reports {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
    position: absolute;
    top: 30px;
    left: 10px;
    width: max-content;
    box-shadow: 0px 0px 5px $colorDark;
    transition: $trans;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    background-color: $colorLight;


    .menu__link:hover {
      .menu__link--icon {
        translate: 75%;
      }
    }

    .menu__link .menu__link--icon {
      rotate: -90deg;
    }
  }
}
