@mixin dynamicMenuLinkUnderline() {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    bottom: 0;
    left: 0;
    scale: 0;
    transition: $trans;

  }
  &:hover::after {
    scale: 1;
  }
}
@mixin staticMenuLinkUnderline() {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    bottom: 0;
    left: 0;
    scale: 1;
    transition: $trans;
  }
}
