$colorDark: #232323;
$colorLight: #fff;
$colorGrey: #747474;
$colorRed: #e4294b;
$colorExp: #c363ae;
$colorExpLight: #ffecd4;
$colorInc: #49ae60;
$colorIncLight: #d4ffdd;
$colorBrown: #B49A7C;
$trans: all 0.3s ease;

$fzMain: 16px;
$fzMainBig: 20px;
$fzTitle: 32px;

.h1-title {
  font-size: $fzTitle;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 700px) {
    font-size: 1.5em;
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}